.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.watches-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cart-container{
    margin-top: 110px;
    font-size: 20px;
    background-color: rgb(233, 233, 233);
    margin-bottom: 1700px;
    border-radius: 15px;
    padding-left: 25px;
    margin-right: 20px;
    position: sticky;
    top: 110;
}

  

@media screen and (max-width: 1100px) {
    .watches-container, .cart-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

.cart-add{
   text-align: center;
   
}
